.dropdown-container {
    margin: 20px;
    text-align: center; /* 中央揃え */
  }
  
  .dropdown-select {
    background-color: #afd8e9;/* 空をイメージした水色の背景色 */
    color: #fff; /* 白い文字色 */
    font-family: 'Arial', sans-serif; /* おしゃれなフォント */
    font-size: 16px;
    padding: 10px;
    border: none; /* ボーダーを削除 */
    border-radius: 8px; /* 丸みをつけたボーダー */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加して立体感を出す */
    outline: none; /* フォーカス時のアウトラインを削除 */
    transition: background-color 0.3s ease;
  }
  
  .dropdown-select:hover {
    background-color: #87ceeb; /* ホバー時に少し濃い水色 */
  }
  
  .dropdown-select:focus {
    background-color: #87ceeb; /* フォーカス時の背景色 */
  }
  